/NMC/parser/CheckPortal.py
/NMC/parser/microcircuit
/NMC/NeuroML2/analyse.hoq
/NMC/NEURON/hoc_recordings/soma_voltage.dat
/NMC/parser/L1_HAC_cNAC187_1/loadcell.hoc0
/NMC/parser/L1_HAC_cNAC187_1/groups.txt
/NMC/parser/zips
/NMC/parser/old2
/NMC/parser/hoc_combos_syn.1_0_10.allzips
/NMC/NeuroML2/simulator.props
/Channelpedia/clean.sh
i386
umac
x86_64

/Channelpedia/LEMS_Test_inact_kv.xml
/Channelpedia/m_inf.lems.dat
/Channelpedia/m_tau.lems.dat
/Channelpedia/test/*.dat
/Channelpedia/test/*.xml
/Channelpedia/unknowns
Channelpedia/*.dat
Channelpedia/LEMS_Test*

Channelpedia/test/html
*.pyc
*~

ChannelTest/*.mod
ChannelTest/*nrn.py
ChannelTest/*.hoc
ChannelTest/*.dat
ChannelTest/*.log
/NMC/NeuroML2/*_netpyne.py
/NMC/NeuroML2/*_main.json
/NMC/NeuroML2/ManyCells.net.nml.png
/NMC/NeuroML2/ManyCells.net.png
/NMC/Connectome/BBP.net.png
/NMC/Connectome/cons_locs_pathways_mc0_Column.tar
/NMC/NeuroML2/nmllite/*.mod
*.gv
*.gv.png
/NMC/NeuroML2/nmllite/IClamp_*.json
/NMC/NeuroML2/nmllite/ParamSweep_*
/NMC/NeuroML2/nmllite/IClamp_*.net.nml
/NMC/NeuroML2/nmllite/*.hoc
/NMC/NeuroML2/nmllite/*.dat
/NMC/NeuroML2/nmllite/LEMS_Sim_IClamp_*.xml
/NMC/NeuroML2/nmllite/Sim_IClamp_*.json
report.*.txt
*_nrn.py
arm64
*_eden.py
*_code.gen.c
*_code.gen.so
