/NMC/NeuroML2/simulator.props
/Channelpedia/clean.sh
i386
umac
x86_64

/Channelpedia/LEMS_Test_inact_kv.xml
/Channelpedia/m_inf.lems.dat
/Channelpedia/m_tau.lems.dat
/Channelpedia/test/*.dat
/Channelpedia/test/*.xml
/Channelpedia/unknowns
Channelpedia/*.dat
Channelpedia/LEMS_Test_k*

Channelpedia/test/html
*.pyc
*~

ChannelTest/*.mod
ChannelTest/*nrn.py
ChannelTest/*.hoc
ChannelTest/*.dat
ChannelTest/*.log
