language: python
python: 2.7

env:
  global:
    - PYTHONPATH=$PYTHONPATH:$HOME/local/lib/python/site-packages PATH=$PATH:$HOME/neuron/nrn/`arch`/bin:$HOME/jnml/jNeuroMLJar JNML_HOME=$HOME/jnml/jNeuroMLJar
  matrix:
    - OST_ENGINE=lems
    - OST_ENGINE=neuron

install:
    - pip install git+https://github.com/borismarin/osb-model-validation.git

script:
    - env
    - cd Channelpedia
    - echo $JNML_HOME
    - ls -alt $JNML_HOME
    - $JNML_HOME/jnml
