test/*.dat
test/vClamps.xml
test/LEMS*.xml
recordings
channels/*.dat
NeuroML2/*.dat
NeuroML2/LEMS_Test*.xml
NeuroML2/*.mod
NeuroML2/*.hoc
NeuroML2/*nrn.py
NEURON/*.dat
NEURON/test/*.dat
NeuroML2/old
parser/L*/hoc_recordings/
parser/L*/iclamp.txt
parser/L*/groups.txt
parser/test/*.dat
parser/test/*.mod
parser/test/*.hoc
parser/test/*nrn.py
parser/old
parser/vv
*.pov
*.ini
*.svg
*.avi
